{% for task in project.completed_tasks %}
  <li>
    <label class="checkbox checked" for="checkbox{{ task.id }}"></label>
    <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">
    <div class="todo-cnt">
    <a href="{% url task_details task.id %}">
    {{ task.title }}
    </a>
    <a class="todo-people">Hacı abi</a>
    <a class="todo-date">7 May</a>
    <a class="todo-comment" href="{% url task_details task.id %}">{{task.comment_count}} Comments</a>
    </div>
    {% for people in task.assigned_people %}
    <span>({{ people }})</span>
    {% endfor %}
  </li>
{% endfor %}