{% if project.completed_tasks %}
    {% for task in project.completed_tasks %}
      <li>
        <label class="checkbox checked" for="checkbox{{ task.id }}"></label>
        <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">
        <div class="todo-cnt">
        <a href="{% url task_details task.id %}">
        {{ task.title }}
        </a>
          <select class="select2 todo-people">
            <option>Select People</option>
            <option>Hacı abi</option>
            <option>Hacı abi2</option>
            <option>Hacı abi3</option>
            <option>Hacı abi4</option>
          </select>
          <a class="todo-comment" href="{% url task_details task.id %}"><i class="icon comment"></i>({{task.comment_count}})</a>
        </div>
        {% for people in task.assigned_people %}
        <span>({{ people }})</span>
        {% endfor %}
      </li>
    {% endfor %}
{% else %}
    <div>No completed tasks.</div>
{% endif %}