{% comment %}
    "progress" gibi active task sayısını her update olduğunda burdan gösterip 
    ön yüze göndermek gerekiyordu.
{% endcomment %}
<span data-projectid="{{ project.id }}" class="active-task-count" style="display:none;">{{ project.active_tasks.count }}</span>

{% if project.completed_tasks %}
    <span class="progress" style="display:none;">{{ project.progress }}</span>
    {% for task in project.completed_tasks %}
      <li>
        <label class="checkbox checked" for="checkbox{{ task.id }}"></label>
        <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">
        <div class="todo-cnt">
        <a href="{% url 'task_details' task.id %}">
        {{ task.title }}
        </a>
        {% comment %}
          <select class="select2 todo-people">
            <option>Select People</option>
            <option>Hacı abi</option>
            <option>Hacı abi2</option>
            <option>Hacı abi3</option>
            <option>Hacı abi4</option>
          </select>
        {% endcomment %}
          <a class="todo-comment" href="{% url 'task_details' task.id %}"><i class="icon comment"></i>({{task.comment_count}})</a>
            <a class="act-btns" href="{% url 'update_task' task.id %}"><i class="icon update"></i></a>
            <a class="act-btns" href="{% url 'delete_task' task.id %}"><i class="icon delete"></i></a>
        </div>
        {% for people in task.assigned_people %}
        <span>({{ people }})</span>
        {% endfor %}
      </li>
    {% endfor %}
{% else %}
    <div>No completed tasks.</div>
{% endif %}
