{% extends "base.html" %}

{% block Content %}

<div class="task-detail">
    <div class="p-head">
        <h3 class="top">
            <strong>
                <a href="{% url 'project_details' discussion.project.id %}">{{ discussion.project }}</a>
            </strong>
        </h3>
        <h4 class="bottom">{{ discussion }}</h4>
    </div>

    <div class="comment-list">
    <p>"{{ discussion.content }}" <a href="#" class="comment-people">{{discussion.started_by}}.</a></p>
	{% for post in discussion.posts %}
		<p>"{{ post.content }}" <a href="#" class="comment-people">{{post.started_by}}.</a></p>
	{% endfor %}
    </div>
	
	<form class="comment-form" action="{% url 'create_post' discussion.pk %}" method="POST">{% csrf_token %}
	{{ new_post_form.as_p }}
	    <button class="btn">
        	Add <strong>Discussion</strong>
    	</button>
	</form>

    <input type="hidden" value="{{ task.id }}" id="task_id" />

</div>

{% endblock %}