{% extends "base.html" %}
{% block includes %}
  {% load formtags actiontags %}
{% endblock %}
{% block Content %}
{% include "inc/left_side.html" %}
<section id="main">
        <div class="p-head">
          <div class="top full-block">
            <h2>{{ project }}</h2>
            <form action="{% url 'invite_to_project' project.id %}" method="POST">{% csrf_token %}
            {{ project_invitation_form.receiver }}
            <button type="submit" class="btn"><i class="icon addpeople"></i></button>
            </form>
          </div>
          <div class="bottom full-block">
            <div class="phb-left">
            <span>
              <strong>{{ project }}</strong>'s progress :
            </span>
            <div class="progress">
              <div class="bar" style="width: {{ project.progress }}%;"></div>
            </div>  
            <span class="prg-cnt"><strong>
              {% if project.progress %} 
              %{{project.progress}}
              {% endif %}
            </strong>
            </span>
            </div>
            <div class="phb-right">
              <span class="show-menu">
                <strong>{{project.people.count}}</strong> user
                <ul class="menu-list">
                  {% for pp in project.people.all  %}
                  <li><a>{{pp}}</a></li>
                  {% endfor %}
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="p-cont">

        <form class="add-todo-form full-block" action="{% url 'create_task' project.id %}" method="POST">{% csrf_token %}
            {{ new_task_form.as_p }}
            <button class="btn" type="submit">+</button><span id="warning_text" style="display:none;">Please enter some text</span>
        </form>

        <h4>Active Tasks</h4>
        <ul class="project-todos" id="project-active-tasks">
            {% include 'projects/active_tasks.html' %}
        </ul>

        <input type="hidden" id="project_slug" value="{{ project.slug }}" />        

        <h4>Completed Tasks</h4>

        <ul class="project-todos complete-list" id="project-completed-tasks">
            {% include 'projects/completed_tasks.html' %}
        </ul>
        </div>

        <div class="p-cont">

            <h4>Discussions</h4>

            {% if project.discussion_set.all %}
            <ul class="discussions">
                {% for discussion in project.discussion_set.all %}

                  <li>
                    <a href="{% url 'discussion_details' discussion.slug %}"> <i class="icon discussion"></i>{{ discussion.title }}</a>
                  </li>

                  {% endfor %}
            </ul>

            {% else %}

                <span>No discussion for this project</span>

            {% endif %}

            <div><a href="{% url 'create_discussion' project.id %}"><strong>Create new discussion</strong></a></div>


        </div>

        {% comment %}
        <div>
            {% get_actions project as performed_actions %}
            {% for action in performed_actions %}
              <div>
                {{ action }}
              </div>
            {% endfor %}
        </div>
        {% endcomment %}
</section>
{% endblock %}