{% extends "base.html" %}

{% block Content %}
{% include "inc/left_side.html" %}
<section id="main">
        <div class="p-head">
          <div class="top full-block">
            <h2>{{ project }}</h2>
            <!--<form>
              <span>Invite Friend</span>
              <input placeholder="friend@mail.com">
              <button><i class="icon mail"></i></button>
            </form>-->
            <form action="{% url invite_to_project project.id %}" method="POST">{% csrf_token %}
            {{ project_invitation_form.receiver }}
            <input type="submit" value="invite" />
            </form>
          </div>
          <div class="bottom full-block">
            <div class="phb-left">
            <span>
              <strong>{{ project }}</strong>'s progress :
            </span>
            <div class="progress">
              <div class="bar" style="width: {{ project.progress }}%;"></div>
            </div>  
            <span class="prg-cnt"><strong>
              {% if project.progress %} 
              %{{project.progress}}
              {% endif %}
            </strong>
            </span>
            </div>
            <div class="phb-right">
              <span class="show-menu">
                <strong>5</strong> user
                <ul class="menu-list">
                  <li><a>uguryrk</a></li>
                  <li><a>erhanbasa</a></li>
                  <li><a>uguryrk</a></li>
                  <li><a>erhanbasa</a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="p-cont">
        <h4>To-do list :</h4>
        <ul class="project-todos" id="project-active-tasks">
            {% for task in project.active_tasks %}
            <li>
              <label class="checkbox" for="checkbox{{ task.id }}"></label>
              <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">

              <div class="todo-cnt">
              <a href="{% url task_details task.id %}">
              {{ task.title }}
              </a>

              <a class="todo-people">Hacı abi</a>
              <a class="todo-date">7 May</a>
              <a class="todo-comment" href="{% url task_details task.id %}">{{task.comment_count}} Comments</a>

              {% for people in task.assigned_people %}
                <span>({{ people }})</span>
              {% endfor %}
              </div>
            </li>
            {% endfor %}

        </ul>
        <form class="add-todo-form full-block" action="{% url create_task project.id %}" method="POST">{% csrf_token %}
            {{ new_task_form.as_p }}
            <button class="btn" type="submit">+</button>
        </form>                  

        <h4>Complete list :</h4>

        <ul class="project-todos complete-list" id="project-completed-tasks">
            {% for task in project.completed_tasks %}
              <li>
                <label class="checkbox checked" for="checkbox{{ task.id }}"></label>
                <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">
                <div class="todo-cnt">
                <a href="{% url task_details task.id %}">
                {{ task.title }}
                </a>
                <a class="todo-people">Hacı abi</a>
                <a class="todo-date">7 May</a>
                <a class="todo-comment" href="{% url task_details task.id %}">{{task.comment_count}} Comments</a>
                </div>
                {% for people in task.assigned_people %}
                <span>({{ people }})</span>
                {% endfor %}
              </li>
            {% endfor %}

        </ul>
        </div>
</section>
{% endblock %}