{% extends "base.html" %}

{% block Content %}
{% include "inc/left_side.html" %}
<section id="main">
        <div class="p-head">
          <div class="top full-block">
            <h2>{{ project }}</h2>
            <form>
              <span>Invite Friend</span>
              <input placeholder="friend@mail.com">
              <button><i class="icon mail"></i></button>
            </form>
          </div>
          <div class="bottom full-block">
            {% if project.progress %}
            <span><strong>{{ project }}</strong>'s progress :</span>
              <div class="progress">
                <div class="bar" style="width: {{ project.progress }}%;"></div>
              </div>  
              <span class="prg-cnt"><strong>%{{project.progress}}</strong></span>
            {% endif %}
          </div>
        </div>
        <div class="p-cont">
        <ul class="project-todos" id="project-active-tasks">
            <h4>To-do list :</h4>
            {% for task in project.active_tasks %}
            <li>
              <label class="checkbox" for="checkbox{{ task.id }}"></label>
              <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">

              <div class="todo-cnt">
              <a href="{% url task_details task.id %}">
              {{ task.title }}
              </a>

              <a class="todo-people">Hacı abi</a>
              <a class="todo-date">7 May</a>
              <a class="todo-comment" href="{% url task_details task.id %}">{{task.comment_count}} Comments</a>

              {% for people in task.assigned_people %}
                <span>({{ people }})</span>
              {% endfor %}
              </div>
            </li>
            {% endfor %}

            <form class="add-todo-form full-block" action="{% url create_task project.id %}" method="POST">{% csrf_token %}
                {{ new_task_form.as_p }}
                <button class="btn" type="submit">+</button>
            </form>                  
        </ul>

        <ul class="project-todos complete-list" id="project-completed-tasks">
            <h4>Complete list :</h4>

            {% for task in project.completed_tasks %}
              <li>
                <label class="checkbox checked" for="checkbox{{ task.id }}"></label>
                <input type="checkbox" value="{{ task.id }}" id="checkbox{{task.id}}">
                <a href="{% url task_details task.id %}">
                {{ task.title }}
                </a>
                <a class="todo-comment" href="{% url task_details task.id %}">{{task.comment_count}} Comments</a>
                {% for people in task.assigned_people %}
                <span>({{ people }})</span>
                {% endfor %}
              </li>
            {% endfor %}

        </ul>
        </div>
</section>

<script type="text/javascript">
// Ajax
  $('#project-active-tasks li input').on("change", function(){
    update_task_status(this);
  });

  $('#project-completed-tasks li input').on("change", function(){
    update_task_status(this);
  });

  function update_task_status(that){

    var task_id = $(that).val();

    if (that.checked){
      task_is_done = 1
    } else {
      task_is_done = 0
    }

    $.ajax({

      url : "/tasks/update_status/",
      data : {'is_done': task_is_done, 'task_id': task_id}

    }).success(function(r){

      $('#project-active-tasks').load(' #project-active-tasks', function(){$(this).children().unwrap()});
      $('#project-completed-tasks').load(' #project-completed-tasks', function(){$(this).children().unwrap()});
      $('.progress').load(' .progress', function(){$(this).children().unwrap()});

    })
  };
</script>
{% endblock %}