{% extends "base.html" %}
{% block includes %}
  {% load formtags actiontags %}
{% endblock %}
{% block Content %}
<div class="task-detail">
    <div class="p-head">
        <h3 class="top">
            <strong>
                <a href="{% url 'project_details' task.project.id %}">{{ task.project.title }}</a>
            </strong>
        </h3>
        <h4 class="bottom">{{ task }}</h4>
        <div class="assign">
            <span>Lets assign it someone!</span>
            <select>
                <option value="">{{ person }}</option>
                {% for person in task.project.people.all %}
                    <option value="{{ person.id }}">{{ person }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="assigned">
            {% include "projects/assigned_people.html" %}
        </div>  
    </div>

	<div class="comment-list">
		{% get_actions task as performed_actions %}
		{% for action in performed_actions %}
		  <div>
			{% if action.action_content_object|of_type:"taskcomment" %}
				<p>" {{ action.action_content_object.content }} " <a href="#" class="comment-people">{{  action.action_content_object.started_by }}</a></p>
			{% else %}
				<p>{{ action }}</p>
			{% endif %}
		  </div>
		{% endfor %}
	</div>
	
    <form class="comment-form" action="{% url 'create_task_comment' task.id %}" method="POST">{% csrf_token %}
    {{ task_comment_form.as_p }}
    <button class="btn">
        Add <strong>Comment</strong>
    </button>
    </form>

    <input type="hidden" value="{{ task.id }}" id="task_id" />

</div>
{% endblock %}