/*	
	Project Bonus CSS
	Author : Erhan Basa
	Create Date : 22 April 2013
*/

/*		Resets		*/
*		{margin: 0; padding: 0;}
li		{list-style: none;}
a		{text-decoration: none; color: #333;}
a:hover	{color: #777;}

/*		Fonts		*/
@font-face {font-family: 'font100';src: url('../fonts/font100.eot');src: url('../fonts/font100.eot?#iefix') format('embedded-opentype'),url('../fonts/font100.svg#museo_sans_100regular') format('svg'),url('../fonts/font100.woff') format('woff'),url('../fonts/font100.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'font300';src: url('../fonts/font300.eot');src: url('../fonts/font300.eot?#iefix') format('embedded-opentype'),url('../fonts/font300.svg#museo_sans_300regular') format('svg'),url('../fonts/font300.woff') format('woff'),url('../fonts/font300.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'font500';src: url('../fonts/font500.eot');src: url('../fonts/font500.eot?#iefix') format('embedded-opentype'),url('../fonts/font500.svg#museo_sans_500regular') format('svg'),url('../fonts/font500.woff') format('woff'),url('../fonts/font500.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: 'font500';font-weight:bold;src: url('../fonts/font700.eot');src: url('../fonts/font700.eot?#iefix') format('embedded-opentype'),url('../fonts/font700.svg#museo_sans_700regular') format('svg'),url('../fonts/font700.woff') format('woff'),url('../fonts/font700.ttf') format('truetype');font-style: normal;}

/*		Icons		*/
.icon 		{background-image: url(../img/sprite.png); display: inline-block;}
.icon.facebook 	{background-position: 0 0; width: 11px; height: 25px;}
.icon.twitter 	{background-position: -14px 0; width: 26px; height: 22px;}
.icon.people 	{background-position: -42px 0; width: 18px; height: 21px;}
.icon.plus 		{background-position: -61px 0; width: 20px; height: 20px;}
.icon.list 		{background-position: -83px 0; width: 17px; height: 19px;}
.icon.addpeople	{background-position: -102px 0; width: 21px; height: 24px;}
.icon.share		{background-position: -124px 0; width: 20px; height: 20px;}
.icon.comment	{background-position: -70px -24px; width: 20px; height: 16px;}
.icon.mail		{background-position: 0 -27px; width: 15px; height: 12px;}

/*		Globals		*/
.container 	{width: 940px; margin: 0 auto;}
.full-block 	{width: 100%; float: left;}
.btn 		{width: 100%; height: 40px; border:1px solid #ccc; font-weight: bold; font-size: 18px; background: #f47238; display: inline-block; border-radius: 3px;  font-family: 'font500',sans-serif; color: #fff; text-align: center; line-height: 44px; cursor: pointer; box-sizing:initial;}
.btn:hover 	{opacity: .8; color: #fff;}
.btn:active 	{box-shadow: inset 0 0 5px rgba(0,0,0,.5);}

.checkbox 	{background: url(../img/sprite.png) no-repeat -17px -24px; width: 25px; height: 25px; float: left;}
.checkbox.checked 	{background-position: -43px -24px;}
input[type="checkbox"] {display: none;}

.mt5 		{margin-top: 5px;}
.mt10 		{margin-top: 10px;}
.br0 		{border-right: 0!important;}

#nav .container 		{background: #ecebeb; height: 50px; border-bottom: 1px solid #fff; position: relative; border-radius: 3px 3px 0 0;}
#nav ul li  			{float: left;}
#nav ul li a  			{font-weight: bold; padding: 0 20px; line-height: 50px; border-left: 1px solid #ccc; border-right: 1px solid #fff; display: block;}
#nav ul li:first-child a 	{padding: 0 83px 0 84px; border-left: 0; }
#nav ul li:last-child a 	{border-right: 0;}
#nav .user-nav			{float: right; position: relative; padding-right: 28px; margin-top: 6px;}
#nav .user-nav .show-menu span	{cursor: pointer;}
#nav .user-nav:after	{position: absolute; content: ''; right: 10px; top: 16px; width: 0px; height: 0px; border-style: solid; border-width: 7px 6.5px 0 6.5px; border-color: #4a4a4a transparent transparent transparent; }
#nav .user-nav a			{padding: 0 10px; border: 0; margin-top: 8px; height: 40px; cursor: }
#nav .user-nav span			{float: left; display: block; line-height: 20px; padding: 10px 0;}
#nav .user-nav .mini-img	{width: 36px; float: left; display: block; height: 36px; border-radius: 36px; overflow: hidden; margin-right: 10px; padding: 0; border: 1px solid #abaaaa; } 
#nav .user-nav .mini-img img	{max-width: 100%;}

#content .container 	{background: #f5f5f5; border-radius: 0 0 3px 3px; border-top: 1px solid #ccc; overflow: hidden;}
#content #leftside 		{width: 238px; min-height: 450px; float: left; border-right: 1px solid #fff;}
#content #main 			{width: 700px; min-height: 450px; float: left; border-left: 1px solid #ccc; background: #f5f5f5;}
#footer  				{padding: 20px 0 40px;}
#footer span 			{float: left; color: #fff;}
#footer ul 				{float: right;}
#footer ul li 			{float: left;}
#footer ul li a 		{color: #fff; margin-left: 15px;}

/*		Style is Coming 	*/
body 		{font-family: 'font500',sans-serif; color: #333; font-size: 14px; background: url(../img/body-bg.jpg) no-repeat center center fixed;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#logo  		{text-align: center; margin: 20px 0;}
#logo a 	{color: #fff; font-size: 36px;}
#logo small {font-size: 18px; font-family: 'font100',sans-serif; display: block;}

/*		Page : Login - Register 		*/
#login-register #content .container 	{background: transparent;  border: 0;}
#lrform 	{width: 300px; background: #f5f5f5; margin: 0 auto; border-radius: 3px; padding: 20px;}
#lrform input  {width: 100%; height: 40px; margin-bottom: 10px; border-radius: 3px; text-indent: 10px; border: 1px solid #ccc;}
#lrform .btn.login 	{background: #489eff;  margin-bottom: 10px;}

#lrform .sociallogin  {width: 302px; margin-bottom: 7px;}
#lrform .sociallogin a 	{width: 140px; margin-left: 14px; font-size: 14px; background: #11cdfb;}
#lrform .sociallogin a:first-child 	{margin-left: 0; background: #3b5997;}
#lrform .sociallogin span  {float: left; margin-left: 15px;}
#lrform .sociallogin .icon  {float: left; margin-left: 5px; margin-top: 5px;}
#lrform .sociallogin .icon.twitter  {margin-top: 8px;}

#lrform p 		{color: #8d99a7; font-size: 14px; font-weight: bold;}
#lrform p em 	{width: 100%; text-align: center;display: block; margin-bottom: 7px; position: relative;}
#lrform p em:before 	{width: 50px; height: 1px; background: #cccccc; position: absolute; left: 85px; top: 8px; content: '';}
#lrform p em:after 	{width: 50px; height: 1px; background: #cccccc; position: absolute; right: 85px; top: 8px; content: '';}

#lrform .lost-pass 	{width: 100%; text-align: center; display: block; margin: 10px 0; color: #8d99a7;}
#lrform .lost-pass:hover 	{color: #777;}

/*		Page : Index 	*/
#leftside li a {width: 218px; padding: 10px; display:block; font-weight: normal; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; font-size: 14px; background: #e7ebf0;}
#leftside li:first-child a {border-top: 0;}
#leftside li .act-todo {float: right; background: #c9d2dd; color: #495a6b; padding: 5px; font-size: 10px; border: 1px solid #ccc; border-radius: 3px; margin-top: -4px;}

#leftside .notproject 		{width: 200px; margin: 0 auto; text-align: center; margin-top: 30px;}
#leftside .notproject .btn 	{height: 30px; line-height: 34px; font-size: 14px; margin-top: 10px;}

#main .notproject 			{padding: 30px 30px 0;}
#main .notproject h4 		{font-weight: normal; font-size: 18px;}
#main .notproject h4 span 	{width: 100%; display: block; margin-bottom: 10px;}
#main .notproject ul li 	{width: 100%; float: left; margin: 8px 0;}
#main .notproject ul span 		{display: block; font-family: 'font300',sans-serif; margin-left: 10px; margin-top:13px; float: left;}
#main .notproject ul span:first-child	{width: 40px; height: 40px; background-color: #fc9e75; border-radius: 40px; line-height: 52px; text-align: center; float: left; margin: 0;}

#main .index-cnt 			{width: 660px; padding: 20px;}
#main .index-cnt h4 strong a 	{color: #f47238; cursor: pointer;}
#main .index-cnt .progress 	{margin-left: 0;  margin-right: 10px; width: 300px;}
#main .index-cnt .project-title 	{margin-top: 20px; margin-bottom: 5px; float: left; width: 100%;}

/*		Page : Project	*/
.p-head .top 		{ background: #565658; padding: 10px 0; border-bottom: 1px solid #ccc;}
.p-head .top h2 	{ width: 440px; float: left; color: #fff; font-size: 14px; text-indent: 10px; padding-top: 5px;}
.p-head .top form {width: 200px; float:right;}
.p-head .top form span {float: left; font-family: 'font300',sans-serif; color: #fff; margin-top: 8px; margin-right: 8px;}
.p-head .top form input {height: 23px; border-radius: 3px; border: 0; text-indent: 10px;}
.p-head .top form button {background: #f47238; border: 0; padding: 5px; border-radius: 3px; width: 20px; height: 24px; padding: 2px 5px; float: right; margin-right: 5px;}

.p-head .bottom 		{padding: 10px 0; background: #ecebeb; border-top: 1px solid #fff; border-bottom: 1px solid #ccc;}
.p-head .bottom span 	{margin-left: 10px; float: left;}

.progress 		{width: 200px; height: 12px; background: #fff; border: 1px solid #ccc; border-radius: 20px; float: left; margin-left: 10px; overflow: hidden;}
.progress .bar 	{background: #f47238; height: 12px; border-radius: 20px 0 0 20px;}
.prg-cnt 		{font-size: 18px;}

.p-cont 		{ padding: 20px; width: 660px; float: left;}
.project-todos h4 	{font-size: 16px;}
.project-todos li 	{width: 100%; float: left;}

.project-todos {float: left; width: 100%; margin-bottom: 20px;}
.project-todos .checkbox {margin-right: 10px;}
.project-todos li 	{margin: 3px 0;}
.project-todos li a {font-family: 'font300',sans-serif; margin-top: 5px;  float: left; margin-right: 5px;}
.project-todos .todo-cnt 	{float: left; width: 92%; }
.complete-list 	{margin-bottom: 0;}

.todo-comment 	{display: inline-block; border-radius: 3px; color: #444; margin-top: 2px!important; line-height: 20px; text-indent: 3px; }
.todo-comment .icon 	{float: left;}
.todo-date 	{background: #f0ab8d; padding: 2px 6px; margin-top: 0; display: inline-block; border: 1px solid #ccc; border-radius: 3px; color: #fff; margin-top: 0!important; line-height: 20px; line-height: 17px;}
.todo-people 	{width: auto!important; padding-right: 5px; float: left!important;}
.todo-people a 	{margin: 0!important; background: #ecebeb!important; height: 20px!important;}
.todo-people a div 	{display: none!important;}
.todo-people a span {margin-right: 8px!important; line-height: 21px!important;}

.task-detail .p-head h3 a 	{color: #fff; display: block; text-indent: 20px;}
.task-detail .p-head h4 	{text-indent: 20px;}

.add-todo-form 		{margin-bottom: 15px;}
.add-todo-form p 	{ width: 230px; float: left;}	
.add-todo-form input 	{ width: 220px; height: 22px; text-indent: 10px; font-size: 14px; color: #333; }	
.add-todo-form label 	{ display: none; }	
.add-todo-form button 	{ background: #f47238; width:20px; height:18px; line-height: 20px; border: 0; padding: 10px;padding: 4px 6px; border-radius: 3px;  color: #fff; font-size: 19px; font-weight: bold;}	

.comment-list p 	{text-indent: 20px; padding-left: 20px; position: relative; padding: 10px 0; border-bottom: 1px solid #ccc; position: relative;}
.comment-people  	{background: #f5f5f5; padding: 3px 6px; display: inline-block; text-align: center; border: 1px solid #ccc; text-indent: 0; margin-left: 5px; border-radius: 3px;}
.comment-form p  {width: 540px; float: left;}
.comment-form label  {display: none;}
.comment-form textarea  {margin: 10px; float: left; width: 500px; height: 50px; padding: 10px; font-size: 14px;}
.comment-form button  {float: left; width: 200px; margin: 10px; height: 70px; font-weight:100;}

.phb-left 		{width: 570px; float: left;}
.phb-right 		{width: 120px; float: right;}

.show-menu				{position: relative;}
.show-menu .menu-list 	{ display:none; position: absolute; background: #fff; border: 1px solid #ccc; padding: 10px; padding-bottom: 0; margin-left: -20px; border-radius: 3px;}
.show-menu .menu-list li 	{ padding: 8px 5px; border-top: 1px solid #ccc; }
.show-menu .menu-list li:first-child 	{border-top: 0; padding-top: 0;}

#nav .user-nav .show-menu .menu-list 	{top: 40px; z-index: 100; padding-top: 0;}
#nav .user-nav .show-menu .menu-list li  	{display: block; width: 140px; padding: 0;}
#nav .user-nav .show-menu .menu-list li a 	{padding: 0 10px; margin: 0; width: 120px;}

/*		Page: Profile	*/
.profile-cnt 	{padding: 20px; width: 900px; overflow: hidden;}
.prfi-cnt 		{width: 230px; float: left;}
.profile-cnt .profile-img 	{padding: 4px; border: 1px solid #ccc; border-radius: 3px; width: 200px; float: left; margin-right: 10px;}
.profile-cnt .profile-img img 	{max-width: 100%; height: auto;}

.changepass.profile-cnt form	{float: left;}
.changepass.profile-cnt form p 			{margin-bottom: 20px;}
.changepass.profile-cnt form p label	{display: block; margin-bottom: 5px;}
.changepass.profile-cnt form p input 	{width: 200px; height: 30px; text-indent: 10px; font-size: 14px;}
.changepass.profile-cnt form p input[type="file"] 	{text-indent: 0;}

.update.profile-cnt form	{float: left;}
.update.profile-cnt form div 			{margin-bottom: 10px;}
.update.profile-cnt form div label	{display: block; margin-bottom: 5px;}
.update.profile-cnt form div input 	{width: 200px; height: 30px; text-indent: 10px; font-size: 14px; display: block; margin-top: 5px;}
.update.profile-cnt form div input[type="file"] 	{text-indent: 0;}


.profile-cnt .profile-infos 	{width: 670px; float: left;}
.profile-cnt .profile-infos h2 	{font-size: 24px; margin-bottom: 10px; border-bottom: 1px solid #ccc; padding-bottom: 5px;}

.profile-main 		{width: 100%; float: left; margin-top: 20px;}
.profile-main .project 	{border-top: 1px solid #ccc; padding-top: 10px; margin-top: 10px; width: 100%; float: left;}
.profile-main .project-todos 	{margin-bottom: 0;}

.organizations div 	{padding-bottom: 10px;}
.organizations div:first-child 	{padding-top: 10px;}
.add-org label 		{width: 100%; float: left; margin-bottom: 5px; margin-top: 10px;}
.add-org textarea,
.add-org input,
.add-org .btn 		{width: 400px; height: 40px; padding: 0 10px;}
.add-org textarea	{height: 80px; padding: 10px;}

#createprojectform label 	{display: none;}
#createprojectform input 	{width: 197px; height: 30px; text-indent: 10px; font-size: 14px;}

.discussion.profile-cnt form label 	{width: 100%; float: left; margin-bottom: 10px;}
.discussion.profile-cnt form input 	{width: 100%; float: left; height: 20px; margin-bottom: 10px; text-indent: 10px; font-size: 16px; padding: 10px;}
.discussion.profile-cnt form textarea 	{width: 100%; float: left; margin-bottom: 10px; padding: 10px; font-size: 16px;}
.discussion.profile-cnt form .btn 	{padding: 10px; height: 20px; line-height: 20px;}

.p-head .top form .select2 	{width: 160px;}
.p-head .top form .select2-choice span 	{color: #333; line-height: 15px;}

.inv-reqs .req {margin: 10px 0; border-top: 1px solid #ccc; padding-top: 10px;}
.inv-reqs .req .btn {width: 140px; height: 30px; line-height: 34px; margin-top: 5px;}
.inv-reqs .req .btn.decl {background: #ccc;}