{% extends "base.html" %}

{% block Content %}
<div class="profile-cnt about">
<h2>About</h2>
<ul class="peoples">
	<li>
		<div class="img">
			<img src="{{STATIC_URL}}img/uguryoruk.jpg">
		</div>
		<h3>Uğur YÖRÜK</h3>
		<p>Owner - Back End Developer</p>
		<strong>@Tacirnet</strong>
	</li>	
	<li>
		<div class="img">
			<img src="{{STATIC_URL}}img/erhanbasa.jpg">
		</div>
		<h3>
			<a href="http://erhanbasa.com/">Erhan Başa</a>
		</h3>
		<p>Owner - Front End Developer</p>
		<strong>@DEV Internet</strong>
	</li>	
	<li>
		<div class="img">
			<img src="{{STATIC_URL}}img/ercanbasa.jpg">
		</div>
		<h3>
			<a href="http://ercanbasa.com/">Ercan Başa</a>
		</h3>
		<p>Nearer(Yancı) - Back End Developer</p>
		<strong>@Markafoni</strong>
	</li>	
</ul>
</div>
{% endblock %}