<!DOCTYPE html>
{% block includes %}
  {% load formtags actiontags %}
{% endblock %}
<html id="{% block id %}{% endblock %}" lang="tr">
  <head>
    <meta charset="utf-8">
    <title>Heroject</title>

    <!-- Metas  -->
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="project, todo list, management project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading CSS -->
    <link href="{{ STATIC_URL }}js/libs/select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    
    <!-- Loading JS -->
    <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}js/libs/select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41938693-1', 'heroject.com');
      ga('send', 'pageview');

    </script>

  </head>
<body>
<header id="header" class="full-block">
<div class="container">
{% block Header %}
  <h1 id="logo">
    <a href="/">
      HEROJECT
      <small>HERO FOR PROJECTS</small>
    </a>
  </h1>
{% endblock %}
</div>
</header>

{% if user.is_authenticated %}
  <nav id="nav" class="full-block">
    {% block Nav %}
      <ul class="container">
        <li>
            <a href="{% url 'index' %}">PROJECTS</a>
        </li>                    
        <li>
            <a href="{% url 'profile_details' %}">ONLY ME</a>
        </li>
        <li>
          <a class="br0">&nbsp;</a>
        </li>
        <li class="user-nav">
          <div class="show-menu">
            <span class="mini-img">
                {% if profile.picture %}
                  <img src="{{ MEDIA_URL }}{{ profile.picture }}">
                {% else %}
                  <img src="{{ STATIC_URL }}img/no-img.jpg">
                {% endif %}
            </span>
            <span>{{ user }}</span>
            <ul class="menu-list">
              <li><a href="{% url 'profile_details' %}">Profile</a></li>
              <li><a href="{% url 'update_profile' %}">Edit Profile</a></li>
              <li><a href="{% url 'update_password' %}">Change Password</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
        </li>        
        <li class="invites">
            <a href="/profile/invitations/"><span><i class="icon invite"></i></span></a>
        </li>
        <li class="notifications">
            <a href="/profile/notifications/"><i class="icon notification"></i></a>
        </li>
      </ul>
    {% endblock %}
  </nav>  
{% endif %}

<div id="content" class="full-block">
  <div class="container">
{% block Content %}
{% endblock %}
  </div>
</div>

<footer id="footer" class="full-block">
<div class="container">  
{% block Footer %}
<span class="copyright">
  Copyright © 2013 by Heroject.com All Rights Reserved.
</span>
<ul>
  <li>
    <a href="/about/">About</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
</ul>
{% endblock %}
</div>
</footer>


</body>
</html>
