<!DOCTYPE html>
{% block includes %}
  {% load formtags %}
{% endblock %}
<html id="{% block id %}{% endblock %}" lang="tr">
  <head>
    <meta charset="utf-8">
    <title>Project Bonus</title>

    <!-- Metas  -->
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="project, todo list, management project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading CSS -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    
    <!-- Loading JS -->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>

  </head>
<body>
<header id="header" class="full-block">
<div class="container">
{% block Header %}
  <h1 id="logo">
    <a href="/">
      PROJECTBONUS
      <small>BONUS FOR PROJECTS</small>
    </a>
  </h1>
{% endblock %}
</div>
</header>

{% if user.is_authenticated %}
  <nav id="nav" class="full-block">
    {% block Nav %}
      <ul class="container">
        <li>
            <a href="{% url index %}">PROJECTS</a>
        </li>                    
        <li>
            <a href="{% url profile_details %}">ONLY ME</a>
        </li>
        <li>
          <a class="br0">&nbsp;</a>
        </li>
        <li class="user-nav">
          <div class="show-menu">
            <span class="mini-img">
              <img src="http://gravatar.com/avatar/5c97a64567584813be76bbecfc0a6baa?s=512">
            </span>
            <span>erhanbasa</span>
            <ul class="menu-list">
              <li><a href="{% url profile_details %}">Profile</a></li>
              <li><a href="{% url update_profile %}">Edit Profile</a></li>
              <li><a href="{% url update_password %}">Change Password</a></li>
              <li><a href="{% url logout %}">Logout</a></li>
            </ul>
          </div>
        </li>        
      </ul>
    {% endblock %}
  </nav>  
{% endif %}

<div id="content" class="full-block">
  <div class="container">
{% block Content %}
{% endblock %}
  </div>
</div>

<footer id="footer" class="full-block">
<div class="container">  
{% block Footer %}
<span class="copyright">
  Copyright © 2013 by Projectbonus.com All Rights Reserved.
</span>
<ul>
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
</ul>
{% endblock %}
</div>
</footer>


</body>
</html>
