{% extends "base.html" %}

{% block Content %}
{% include "inc/left_side.html" %}
<section id="main">
    {% if projects %}
          <div class="index-cnt">
            <h3>Wellcome to Heroject</h3>
            <h4>Heroes are waiting for you! Or 
              <strong class="crt-project"><a>Create New Project</a></strong>
            </h4>
            {% for project in projects %}
              <ul class="project-todos">
                  <h3 class="project-title">
                    <a href="{% url 'project_details' project.slug %}">
                      {{ project.title }}
                    </a>
                  <a href="{% url 'update_project' project.id %}">Update</a>
                  <a href="{% url 'delete_project' project.id %}">Delete</a>
                  </h3>
                  <div class="progress-cnt">
                    <div class="progress">
                        <div class="bar" style="width: {{ project.progress }}%;"></div>
                    </div>  
                    <strong>%{{ project.progress }} Completed!</strong>
                  </div>  
            {% endfor %}
          </div>
    {% else %}
          <div class="notproject">
            <h4>WELLCOME <strong>PROJECTBONUS!</strong>
              <span>Your first to-do list:</span>
            </h4>
            <ul>
              <li>
                <span><i class="icon people"></i></span>
                <span>Edit your profile.</span>
              </li>
              <li>
                <span><i class="icon plus"></i></span>
                <span>Create project.</span>
              </li>
              <li>
                <span><i class="icon addpeople"></i></span>
                <span>Invite friends your project.</span>
              </li>
              <li>
                <span><i class="icon list"></i></span>
                <span>Create to-do items.</span>
              </li>
              <li>
                <span><i class="icon share"></i></span>
                <span>Share!</span>
              </li>
            </ul>
          </div>
    {% endif %}
</section>
{% endblock %}