{% extends "base.html" %}

{% block Content %}
          <div class="demo-text-box prl">
            <h3 class="demo-panel-title">Wellcome to PROJECTBONUS</h3>
            <p><strong>Lato</strong> is free web-font designed by <strong>Lukasz&nbsp;Dziedzic</strong> from Warsaw.</p>
            <p>Here you can feel the color, size, line height and margins between paragraphs. Don’t forget to underline 
              your links, they are an important <a href="#">visual marker</a> for users.</p>
            <p>Also, to attract attention you can mark some&nbsp;important words using <strong>bold weights</strong>.</p>
            <div class="span3 wellcomebtn">
              <a href="#" class="btn btn-large btn-block btn-info">Create Project</a>
            </div>
          </div>
{% endblock %}