{% extends "base.html" %}

{% block id %}login-register{% endblock %}

{% block Content %}
	<div id="lrform">
		<form action="." method="POST">{% csrf_token %}
			{% for f in form %}
				{{f}}
				{{f.errors}}
			{% endfor %}
			<p>
				<button type="submit" class="btn login">LOGIN</button>
			</p>
		</form>	
		<p>
			<em>or</em>
			<a class="btn register" href="{% url 'register' %}">REGISTER</a>
			<a class="lost-pass" href="#">Lost your password?</a>
		</p>
	</div>
{% endblock %}

{% block Footer %}
{% endblock %}