<form id="createprojectform" action="." method="POST">{% csrf_token %}
  	{{ form.as_p }}
    <button class="btn">CREATE</button>
    </div>
</form>

<script type="text/javascript">
	$("#createprojectform").submit(function() {
	
	    var url = "/project/create/";

	    $.ajax({
	           type: "POST",
	           url: url,
	           data: $("#createprojectform").serialize(),
	           success: function(data)
	           {
	           	 	location.reload();
	           }
	         });

	    return false;
	});
</script>