{% extends "base.html" %}

{% block Content %}
<div class="profile-cnt">
	<div class="profile-top">
		<form class="add-org" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div class="prfi-cnt">
				<div class="profile-img mt10">
					<img src="{{ STATIC_URL }}img/no-img.jpg">
					{{ form.logo }}
				</div>
			</div>
			<div class="profile-infos">
	            <p>{{ form.title.label }}</p>
	            <p>{{ form.title }}</p>
	            <p>{{ form.description.label }}</p>
	            <p>{{ form.description }}</p>
	            <button class="btn">CREATE</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}