{% extends "base.html" %}

{% block Content %}
<div class="profile-cnt">
<h2>Invitations</h2>
<ul class="inv-reqs">
	{% for inv in profile.received_invitations.active %}
	<li class="req">
		<div class="msg-area">
			<strong>{{ inv.sender }}</strong> has invited you to <a href="#"><strong>{{ inv.content_object }}</strong></a>
		</div>
		{% if not inv.is_read %}
		<a class="btn" href="{% url reply_to_invitation inv.id %}?is_accepted=1">ACCEPT</a>
		<a class="btn decl" href="{% url reply_to_invitation inv.id %}?refused">DECLINE</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>
</div>
{% endblock %}