{% extends "base.html" %}

{% block Content %}
<div class="profile-cnt">
	<div class="profile-top">
		<div class="profile-img">
			{% if organization.logo %}
			<img src="{{ MEDIA_URL }}{{ organization.logo }}">
			{% else %}
			<img src="{{ STATIC_URL }}img/no-img.jpg">
			{% endif %}
		</div>
		<div class="profile-infos">
			<h2>{{ organization.title }}</h2>
			{% if organization.description %}
				<h3>Description :</h3>
				<div>{{ organization.description }}</div>
			{% endif %}

			<h3 class="mt10">Members :</h3>
			<ul>
				{% for member in organization.people.all %}
					<li><a href="#">{{ member }}</a></li>
				{% endfor %}
			</ul>
			<form action="{% url 'invite_to_organization' organization.id %}" method="POST">{% csrf_token %}
				<h3 class="mt10">Invite People : {{ invitation_form.receiver }}</h3>
				<input type="submit" value="invite" />
			</form>
		</div>
	</div>
</div>



{% endblock %}