{% extends "base.html" %}

{% block Content %}
<div class="profile-cnt">
	<div class="profile-top">
		<div class="profile-img">
			<img src="{{ STATIC_URL }}img/no-img.jpg">
		</div>
		<div class="profile-infos">
			<h2>{{ profile }}</h2>
			<h3>Organizations :</h3>
			{% if profile.organizations %}
				<div class="organizations">
				{% for organization in profile.organizations %}
					<div><a href="{% url organization_details organization.slug %}">{{ organization.title }}</a></div>
				{% endfor %}
				</div>
				<p>Or create <strong><a href="{% url create_organization %}">new organization</a></strong></p>
			{% else %}
				<div>You are not a member of any organizations. Create one <a href="{% url create_organization %}">here</a></div>
			{% endif %}
		</div>
	</div>
	<div class="profile-main">
		<!--
		<h3>Projects</h3>
		{% if profile.projects %}
			{% for project in profile.projects %}
			<div>
				<a href="{% url project_details project.slug %}">{{ project.title }}</a>
			</div>
			{% endfor %}
		{% else %}
			<div>You do not have any projects</div>
		{% endif %}
		-->
	</div>
</div>
{% endblock %}