<aside id="leftside">
      {% if projects %}
        <ul>
        {% for project in projects %}
        <li>
              <h3 class="project-title">
                <a href="{% url 'project_details' project.id %}">
                  {{ project.title }}
                  <span class="act-todo">{{ project.active_tasks_count }}</span>
                </a>
              </h3>
        </li>
        {% endfor %}
        </ul>
        <div class="notproject">
          <span>You have {{projects.count}} project</span>
          <a id="ajax-crt" class="btn">CREATE PROJECT</a>
        </div>
      {% else %}
      <div class="notproject">
        <span>You do not have any project</span>
        <a id="ajax-crt" class="btn">CREATE PROJECT</a>
      </div>
      {% endif %}
</aside>